{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Message received successfully</h2>
    <i class="fas fa-check-circle" id="contact-success-icon"></i>
    <p>
        Thanks for contacting us! We're looking forward to chatting to you about your research project and exploring how we can use software to enhance your research.
    </p>
    <p>
        We'll be in touch shortly, but if you think of anything in the meantime feel free to contact us again through the website or you can email us directly at <a href="mailto:mikeallaway@gmail.com">mikeallaway@gmail.com</a> or phone us on <a href="tel:07415411688">07415411688</a>.
    </p>
    <p>
        <a href="{% url 'welcome' %}" id="contact-success-finished">Finished</a>
    </p>
</section>

{% endblock %}