{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Contact</h2>
    <p>
        The best first step is to schedule a free advice session, during which we can chat about your research and how software can play an important part in its success. 
    </p>
    <p>
        Setting up a free advice session is simple. You can email us directly at <a href="mailto:mikeallaway@gmail.com">mikeallaway@gmail.com</a>, phone us on <a href="tel:07415411688">07415411688</a>, or complete the short form below and we'll be in touch shortly.
    </p>
    <form id="contact-form" enctype="multipart/form-data" name="form" method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="contact-submit" type="submit"><i class="fas fa-paper-plane"></i> Send</button>
    </form>
</section>

<script>
    $(document).ready(function() {

        // Highlight labels of actively focused form elements
        $("input, select, textarea").each(function(){
            $(this).on('focus', function(){ $(this).prev().addClass('label-active'); });
            $(this).on('focusout', function(){ $(this).prev().removeClass('label-active'); });
        });

    });
</script>

{% endblock %}