{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container">
        <h2>Services</h2>

        <ul id="services-list">
            {% for service in service_list %}
                <a href="{% url 'contact' %}">
                    <li>
                        <label>{{ service.name }}</label>
                        <span><i class="{{ service.fontawesome_icon }}"></i></span>
                        <p>{{ service.description }}</p>
                    </li>
                </a>
            {% empty %}
                <p>Please contact us for more information about our services.</p>
            {% endfor %}
        </ul>

        <h2>How Our Services Are Unique</h2>
        <p>
            ...
        </p>

        <h2>The Process</h2>
        <p>
            We understand how dynamic and unpredictable research projects can be. We anticipate and accommodate this unpredictability with a process that's transparent, flexible, and straightforward.
        </p>
        <p>
            Although each project is unique, the below diagram shows the lifecycle of a typical project:
        </p>
        <ol id="services-process-list">
            <li>
                <label>1</label>
                <span>Advice (free, no obligation, grant app)</span>
            </li>
            <li>
                <label>2</label>
                <span>In-depth discussion to establish and agree on core requirements</span>
            </li>
            <li>
                <label>3</label>
                <span>Early designs, discussed for feedback</span>
            </li>
            <li>
                <label>4</label>
                <span>Iterative development, with regular reviews to accommodate unforeseen changes</span>
            </li>
            <li>
                <label>5</label>
                <span>Quality checks: tests, checks, feedback, tweaks</span>
            </li>
            <li>
                <label>6</label>
                <span>Make live</span>
            </li>
            <li>
                <label>7</label>
                <span>Maintenance and open communication</span>
            </li>
        </ol>
    </div>
    
{% endblock %}