{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container">
        <h2>Services</h2>

        <ul id="services-list">
            {% for service in service_list %}
                <a href="{% url 'contact' %}">
                    <li>
                        <label>{{ service.name }}</label>
                        <span><i class="{{ service.fontawesome_icon }}"></i></span>
                        <p>{{ service.description }}</p>
                    </li>
                </a>
            {% empty %}
                <p>Please contact us for more information about our services.</p>
            {% endfor %}
        </ul>

        <h2>What Makes Us Unique?</h2>
        <p>
            ...
        </p>

        <h2>The Process</h2>
        <p>
            We understand how dynamic and unpredictable research projects can be. We anticipate and accommodate this unpredictability with a process that's transparent, flexible, and straightforward.
        </p>
        <p>
            Although each project is unique, the below diagram shows the lifecycle of a typical project:
        </p>
        <ol>
            <li>Advice (free, no obligation, grant app)</li>
            <li>In-depth discussion to establish and agree on core requirements</li>
            <li>Early designs, discussed for feedback</li>
            <li>Iterative development, with regular reviews to accommodate unforeseen changes</li>
            <li>Quality checks: tests, checks, feedback, tweaks</li>
            <li>Make live</li>
            <li>Maintenance and open communication</li>
        </ol>
    </div>
    
{% endblock %}