{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Services</h2>
    <ul id="services-list">
        {% for service in service_list %}
            <li>
                <label>{{ service.name }}</label>
                <span><i class="{{ service.fontawesome_icon }}"></i></span>
                <p>{{ service.description }}</p>
            </li>
        {% empty %}
            <p>Please contact us for more information about our services.</p>
        {% endfor %}
    </ul>
</section>

<section class="container">
    <h2>The Process</h2>
    <p>
        We understand how dynamic and unpredictable research projects can be. We anticipate and accommodate this with a process that's transparent, flexible, and straightforward.
    </p>
    <p>
        Although each project is unique, a typical software development project lifecycle follows these 5 steps:
    </p>
    <ol id="services-process-list">
        <li>
            <label><i class="fas fa-comments"></i></label>
            <span>1. Initial free advice session and help with grant application</span>
        </li>
        <li>
            <label><i class="far fa-clipboard-list-check"></i></label>
            <span>2. Establish and agree on requirements</span>
        </li>
        <li>
            <label><i class="fas fa-laptop-code"></i></label>
            <span>3. Iterative design and development, with regular reviews to accommodate unforeseen changes</span>
        </li>
        <li>
            <label><i class="fas fa-smile-beam"></i></label>
            <span>4. Finish: final quality checks, tests, make live/public</span>
        </li>
        <li>
            <label><i class="fas fa-sync-alt"></i></label>
            <span>5. Ongoing maintenance, communications, and repeating of process</span>
        </li>
    </ol>
</section>

<section class="container">
    <h2>Next up</h2>
    <div class="nextup">
        <a href="{% url 'portfolio' %}" class="nextup">Portfolio</a>
    </div>
</section>
    
{% endblock %}