{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="top-banner-services" class="top-banner"></div>

    <div class="container">
        <h2>Services</h2>
        <p>
            We offer a range of software development services that are 
        </p>

        <h2>The Process</h2>
        <p>
            It can be difficult at the start of a project, particularly technical ones, to envisage the journey ahead. This is why we make it transparent and straightforward. The below diagram shows what a typical software development process looks like that we deliver for an arts and humanities academic research project.
        </p>
        <img src="{% static '/images/logos/ahr-white.png' %}" style="width: 17em; display: block; margin: 3em auto;">
    </div>
    
{% endblock %}