{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="welcome-banner">
    
    <div id="welcome-banner-tagline">
        <img id="welcome-banner-tagline-logo" src="{% static '/images/logos/ahr-software.png' %}" alt="AHR Software Logo">
        AHR Software develops bespoke software<br>
        for arts and humanities research projects<br>
        in the higher education sector<br>
        <br>
        We build websites, data visualisations,<br>
        mobile apps, databases and more,<br>
        to help make your research more<br>
        engaging, accurate, and impactful
    </div>
    <div id="welcome-banner-illustration">
        <img src="{% static '/images/welcome/illustration-womanscreen.svg' %}" alt="AHR Software icon">
    </div>
    <div id="welcome-banner-proceed">
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<section id="welcome-content" class="container">
    <h2>Welcome</h2>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</section>

<section class="container">
    <h2>What Makes Us Unique?</h2>
    <p>
        ...
    </p>
</section>

<section class="container">
    <h2>Next up</h2>
    <div class="nextup">
        <a href="{% url 'services' %}" class="nextup">Services</a>
    </div>
</section>

<script>
    $(document).ready(function() {
        // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
        $('#welcome-banner-proceed').on('click', function(){
            $('html,body').animate({ scrollTop: $('#welcome-content').offset().top - 40 }, 800); 
        });
    });
</script>

{% endblock %}