{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="welcome-banner">
    
    <div id="welcome-banner-tagline">
        <p>
            AHR Software develops bespoke software for arts and humanities research projects in the higher education sector
        </p>
        <p>
            We build websites, databases, mobile apps, data visualisations and more, to help make your research more engaging, accurate, and impactful.
        </p>
    </div>
    
    <div id="welcome-banner-proceed">
        <i class="fas fa-angle-down"></i>
    </div>

</section>

<section id="welcome-content" class="container">
    <h2>Welcome</h2>
    <p class="primary">
        Welcome to AHR Software. We're a software development team with a special interest in arts and humanities academic research projects in the higher education sector.
    </p>
    <p>
        We've built AHR Software based on our extensive experience in the HE sector, building high-quality software for arts and humanities research projects at some of the best universities in the country. We know from speaking directly to researchers how hard it can be to find that perfect software developer to collaborate with, who fully appreciates the dynamics and challenges of academic research. This is where we come in.
    </p>
    <p>
        We understand the academic research project lifecycle, from grant applications through to REF, and we're here to support you throughout the journey. We ensure that your software complies with legal requirements (e.g. ethics and web accessibility), common data standards in HE (e.g. <a href="https://tei-c.org/">TEI</a>), and academic research goals (e.g. open access and impact case studies).
    </p>
    <p>
        Through this website you can view our range of <a href="{% url 'services' %}"> services</a>; view our broad <a href="{% url 'portfolio' %}">portfolio of work</a>; and <a href="{% url 'contact' %}">contact us</a> for a free, no-obligation chat about how we can use software to help take your research project to the next level.
    </p>
</section>

<section class="container">
    <h2>What Makes Us Unique?</h2>

    <ul id="welcome-unique-list">
        <li>
            <label>Our Knowledge and Experience</label>
            <span><i class="fas fa-university"></i></span>
            <p>We know arts and humanities academic research much better than most software developers. We bring years of specialist knowledge and experience to ensure a smoother development process, which leads to some fantastic software for your research project.</p>
        </li>
        <li>
            <label>Our Friendly Approach</label>
            <span><i class="fas fa-comment-alt-smile"></i></span>
            <p>We understand that you may not be tech-savvy and that's ok! We take care of the technical side of things so that you don't have to. We don't bombard you with confusing jargon and we always explain technical aspects of the project in plain English.</p>
        </li>
        <li>
            <label>Our Tailored Services</label>
            <span><i class="fas fa-tools"></i></span>
            <p>Our services are tailored specifically to arts and humanities research projects. This includes free advice for writing technical aspects of your grant applications, the development of software to work with your academic research data, and free professional branding for your project.</p>
        </li>
        <li>
            <label>Our Open Process</label>
            <span><i class="fas fa-user-graduate"></i></span>
            <p>You're the expert in your academic field. This is why we have a transparent and collaborative development process that lets you bring your academic expertise directly into the development of your software. You can make sure that your vision is realised and know that you're happy every step of the way.</p>
        </li>
    </ul>
</section>

<section class="container">
    <h2>Next up</h2>
    <div class="nextup">
        <a href="{% url 'services' %}" class="nextup">Services</a>
    </div>
</section>

<script>
    $(document).ready(function() {
        // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
        $('#welcome-banner-proceed').on('click', function(){
            $('html,body').animate({ scrollTop: $('#welcome-content').offset().top - 40 }, 800); 
        });
        // Set the background of the navbar based on scroll position
        $(document).on('scroll', function (){
            let navHasSolidBg = $('nav').hasClass('solidbg');
            let currentPosition = $(window).scrollTop();
            let pastBanner = $('#welcome-banner').offset().top + $('#welcome-banner').height();
            // If past banner, add solid background. If not, remove it.
            if (currentPosition >= pastBanner && !navHasSolidBg) $('nav').addClass('solidbg');
            else if (currentPosition < pastBanner && navHasSolidBg) $('nav').removeClass('solidbg'); 
        });
    });
</script>

{% endblock %}