@media (min-width: 992px) {
    /* ---------- Navigation ---------- */

    .navbar-brand {
        padding: 0.3em;
    }

    .navbar-brand img {
        height: 1.7em;
    }

    .nav-link {
        margin-left: 0.7em;
        margin-right: 0.7em;
        margin-top: 0.2em;
    }

    /* ---------- Main ---------- */

    main {
        min-height: 100vh;
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: 100vh;
    }

    #welcome-banner-tagline {
        width: 100%;
        margin-left: 4em;
        margin-top: 10vh;
        text-align: left;
        background: none;
        padding: 0em;
    }

    /* ---------- About ---------- */

    .about-banner {
        height: 35em;
        max-height: 60vh;
    }

    /* ---------- Browse ---------- */

    /* ---------- Browse: List ---------- */

    .list-content-item {
        margin: 1em;
        display: inline-block;
        width: calc(33% - 2em);
        min-height: 10em;
    }

    #list-options-views,
    #list-options-links {
        display: inline-block;
        width: 49.5%;
        margin: 0;
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 3em;
        margin: 0 4em 2em 4em;
        display: inline-block;
    }
}
