@media (min-width: 992px) {
    /* ---------- Navigation ---------- */

    nav {
        height: 5.5em;
    }

    .navbar-brand {
        padding: 0em;
    }

    .navbar-brand img {
        height: 2.3em;
    }

    .nav-link {
        margin: 0.5em 0.8em;
    }

    /* ---------- Main ---------- */

    main {
        min-height: 100vh;
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: 100vh;
    }

    #welcome-banner-tagline {
        width: 100%;
        margin-left: 5vw;
        margin-top: 5vh;
        text-align: left;
        background: none;
        padding: 0em;
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 5em;
        margin: 0 4em 2em 4em;
        display: inline-block;
    }

}
