
/* ---------- General ---------- */

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-weight: 300;
    background: #050505;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: white;
    font-weight: 600;
}

a:hover {
    color: #DDD;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1em;;
}

h2 {
    padding-top: 2.5em;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 2.3em;
    margin: 2em 0 1.3em 0;
}

h3 {
    padding: 2em 0 0.5em 0;
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: 1.8em;
}


/* ---------- Navigation ---------- */

nav {
    background: rgba(0,0,0,0); /* transparent */
    color: white;
    max-width: 100vw;
    overflow: hidden;
}

nav.solidbg {
    background: #050505;
}

.navbar-brand {
    display: inline-block;
    font-size: 2em;
}

.navbar-nav {
    font-size: 1.1em;
}

.nav-link {
    font-weight: 300;
    font-size: 1em;
}

.nav-link.active {
    font-weight: 600;
}

nav a:hover {
    color: white;
}

/* ---------- Main ---------- */

main {
    padding-bottom: 7em;
}

main p,
main ul,
main ol {
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
}

a {
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

.nextup {
    text-align: center;
}

.nextup a {
    display: inline-block;
    padding: 2.5em 4em;
    margin: 2em auto 0 auto;
    font-size: 1.3em;
    color: black;
    background: #DDD;
    border-radius: 0.3em;
}

.nextup a:hover {
    color: black;
    text-decoration: none;
    background: #FFF;
}


/* ---------- Forms ---------- */

label {
    display: block;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 0.95em;
}

label.label-active {
    color: #0263ac;
}

.helptext {
    font-size: 0.9em;
    color: #AAA;
}

.errorlist {
    color: red;
}

input,
textarea,
select,
button[type='submit'] {
    width: 100%;
    display: block;
    padding: 0.3em;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
    background: #CCC;
    border: none;
}

#contact-form input[type='file'] {
    border: 1px solid white;
    background: none;
}

input[type='checkbox'] {
    display: inline;
    width: auto;
}

form ul {
    list-style: none;
    padding-left: 0;
}

form ul li {
    display: inline-block;
}

form ul li label {
    margin: 0.3em 2em 0 0;
    cursor: pointer;
}

form ul li label:hover {
    color: #f39c12;
}

button[type='submit'],
button[type='submit']:visited {
    background: #f39c12;
    border: none;
    color: black;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin: 3em 0 1em 0;
}

button[type='submit']:hover {
    background: #b3740f;
    color: black;
}

.form-submit-notes {
    font-size: 0.9em;
    color: #AAA;
}


/* ---------- Welcome ---------- */

#welcome-banner {
    width: 100%;
    padding-top: 10vh;
    background-image: url('../images/welcome/banner-bg.jpg');
    /* Photo by <a href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pawel Czerwinski</a> on <a href="https://unsplash.com/s/photos/abstract?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#welcome-banner-tagline {
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.5em;
    color: white;
}

#welcome-banner-tagline-logo {
    width: 18em;
    display: block;
    margin-bottom: 2em;
}

#welcome-banner-proceed {
    font-size: 3em;
	position: absolute;
	bottom: 0.8em;
    left: calc(50% - 40px);
    border-radius: 100%;
    border: 2px solid white;
    width: 80px;
    height: 80px;
	text-align: center;
	color: white;
	padding-top: 2px;
    cursor: pointer;
    line-height: 80px;
}

#welcome-banner-proceed:hover {
    background-color: white;
    color: black;
}

#welcome-mike-circle {
    width: 16em;
    border-radius: 100%;
    display: block;
    margin: 2em;
    float: right;
}




/* ---------- Services ---------- */

#services-list {
    text-align: center;
    padding-left: 0;
    font-size: 1em;
}

#services-list li {
    display: inline-block;
    width: 16.5em;
    margin: 0em 0.2em 1em 0.2em;
    padding: 1em;
    list-style: none;
    vertical-align: top;
    border-radius: 0.7em;
}

#services-list li label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin: 0.5em auto;
    text-align: center;
}

#services-list li span i {
    font-size: 4.7em;
    display: block;
    margin: 0.3em auto;
    text-align: center;
}

#services-list li p {
    font-size: 0.85em;
    line-height: 1.4em;
    text-align: left;
}

#services-process-list {
    max-width: 90%;
    width: 40em;
    margin: 3em auto 1em auto;
    padding-left: 0;
    list-style: none;
}

#services-process-list li label {
    border: 3px solid white;
    border-radius: 100%;
    display: inline-block;
    width: 2.2em;
    font-weight: bold;
    padding: 0.51em;
    font-size: 2em;
    margin: 0.4em 0.8em 0.4em 0;
    vertical-align: middle;
    text-align: center;
}

#services-process-list li span {
    width: calc(100% - 7em);
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em;
}


/* ---------- Portfolio ---------- */

#portfolio-list {
    list-style: none;
    padding-left: 0;
}

#portfolio-list li {
    display: block;
    margin: 8em auto;
    display: block;
}

#portfolio-list li div {
    display: inline-block;
    width: 20em;
    vertical-align: top;
}

#portfolio-list li label {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1em;
}

#portfolio-list li img {
    vertical-align: top;
    width: calc(100% - 21em);
    display: inline-block;
    border: 1px solid #505050;
    border-radius: 0.5em;
}


/* ---------- Contact ---------- */

#contact-form {
    width: 70%;
    margin: 5em auto 1em auto;
}

#contact-form label,
#contact-form .helptext {
    font-size: 0.9rem;
}

#contact-success-icon {
    font-size: 5em;
    display: block;
    margin: 0.5em auto;
    text-align: center;
}

#contact-success-finished {
    background: white;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    text-align: center;
    color: black;
    margin: 3em auto;
    display: block;
    width: 8em;
    font-weight: bold;
}

#contact-success-finished:hover {
    text-decoration: none;
}


/* ---------- Footer ---------- */

footer {
    padding: 5em 0;
    text-align: center;
}

#footer-content-text {
    margin-top: 2em;
}

footer a:hover {
    color: white;
    opacity: 1;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
