
/* ---------- General ---------- */

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-weight: 300;
    background: #B53471;
    max-width: 100vw;
    overflow-x: hidden;
    
}

a {
    color: white;
    font-weight: 600;
}

a:hover {
    color: #DDD;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1em;;
}

h2 {
    padding-top: 2.5em;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 2.5em;
    margin: 1em 0 1.3em 0;
}

h3 {
    padding: 2em 0 0.5em 0;
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: 1.8em;
}


/* ---------- Navigation ---------- */

nav {
    background: rgba(0,0,0,0); /* transparent */
    color: white;
    max-width: 100vw;
    overflow: hidden;
    background: #B53471;
}

.navbar-brand {
    display: inline-block;
    font-size: 2em;
}

.navbar-nav {
    font-size: 1.1em;
}

.nav-link {
    font-weight: 600;
    font-size: 1.1em;
    opacity: 0.7;
}

.nav-link.active {
    font-weight: 600;
    color: white;
    opacity: 1;
}

nav a:hover {
    color: white;
}

/* ---------- Main ---------- */

main {
    padding-bottom: 10em;
}

main p,
main ul,
main ol {
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
}

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: none;
}

main p a {
    text-decoration: underline;
}

.nextup {
    text-align: center;
}

.nextup a {
    display: inline-block;
    padding: 1.7em 0 1.7em 0;
    width: 11em;
    max-width: 100%;
    margin: 1em auto 0 auto;
    font-size: 1.7em;
    color: #B53471;
    background: #FFF;
    opacity: 0.8;
    border-radius: 0.3em;
}

.nextup a:hover {
    text-decoration: none;
    opacity: 1;
}


/* ---------- Forms ---------- */

form label {
    display: block;
    margin-bottom: 0;
    margin-top: 1.3em;
    font-size: 0.95em;
    opacity: 0.7;
}

label.label-active {
    opacity: 1;
    font-weight: bold;
}

.helptext {
    font-size: 0.9em;
    color: #AAA;
}

.errorlist {
    color: red;
}

input,
textarea,
select,
button[type='submit'] {
    width: 100%;
    display: block;
    padding: 0.5em;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
    background: #FFF;
    border: none;
    border-radius: 0.3em;
}

#contact-form input[type='file'] {
    border: 1px solid white;
    background: none;
}

input[type='checkbox'] {
    display: inline;
    width: auto;
}

form ul {
    list-style: none;
    padding-left: 0;
}

form ul li {
    display: inline-block;
}

form ul li label {
    margin: 0.3em 2em 0 0;
    cursor: pointer;
}

form ul li label:hover {
    color: white;
}

button[type='submit'],
button[type='submit']:visited {
    background: white;
    color: #B53471;
    opacity: 0.8;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin: 2em 0 1em 0;
}

button[type='submit']:hover {
    background: white;
    color: #B53471;
    opacity: 1;
}


/* ---------- Welcome ---------- */

#welcome-banner {
    width: 100%;
    padding-top: 10vh;
}

#welcome-banner-illustration {
    position: absolute;
    width: 40%;
    height: 100vh;
    right: 1em;
    top: 0;
    padding: 20vh 5em 0 2em;
}

#welcome-banner-illustration img {
    width: 100%;
}

#welcome-banner-tagline {
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.5em;
    color: white;
    float: left;
}

#welcome-banner-tagline-logo {
    width: 18em;
    display: block;
    margin-bottom: 2em;
}

#welcome-banner-proceed {
    font-size: 3em;
	position: absolute;
	bottom: 0.8em;
    left: calc(50% - 40px);
    border-radius: 100%;
    border: 4px solid white;
    width: 80px;
    height: 80px;
	text-align: center;
	color: white;
    cursor: pointer;
    line-height: 80px;
}

#welcome-banner-proceed:hover {
    background-color: white;
    color: #B53471;
}


/* ---------- Services ---------- */

#services-list {
    text-align: center;
    padding-left: 0;
    font-size: 1em;
    cursor: default;
}

#services-list li {
    display: inline-block;
    width: 16.5em;
    margin: 0em 0.2em 1em 0.2em;
    padding: 1em;
    list-style: none;
    vertical-align: top;
    border-radius: 0.7em;
}

#services-list li label {
    font-size: 1.7em;
    font-weight: bold;
    display: block;
    margin: 0.5em auto;
    text-align: center;
}

#services-list li span i {
    font-size: 4.7em;
    display: block;
    margin: 0.5em auto;
    text-align: center;
}

#services-list li p {
    font-size: 0.85em;
    line-height: 1.4em;
    text-align: left;
}

#services-process-list {
    max-width: 90%;
    width: 40em;
    margin: 5em auto 1em auto;
    padding-left: 0;
    list-style: none;
    cursor: default;
}

#services-process-list li label {
    border: 3px solid white;
    border-radius: 100%;
    display: inline-block;
    width: 2.2em;
    font-weight: 600;
    padding: 0.64em 0 0 0.05em;
    height: 2.2em;
    font-size: 2.3em;
    margin: 0.4em 0.8em 0.4em 0;
    vertical-align: middle;
    text-align: center;
}

#services-process-list li label i {
    margin-top: -1em;
}

#services-process-list li span {
    width: calc(100% - 7em);
    font-size: 1.4em;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em;
    font-weight: bold;
}


/* ---------- Portfolio ---------- */

#portfolio-list {
    list-style: none;
    padding-left: 0;
    margin-top: -3em;
}

#portfolio-list li {
    display: block;
    margin: 8em auto;
    display: block;
}

#portfolio-list li div {
    display: inline-block;
    width: 20em;
    vertical-align: top;
    margin-right: 1em;
}

#portfolio-list li label {
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 0.7em;
}

#portfolio-list li img {
    vertical-align: top;
    width: calc(100% - 22em);
    display: inline-block;
    border-radius: 1em;
}


/* ---------- Contact ---------- */

#contact-form {
    width: 70%;
    margin: 5em auto 1em auto;
}

#contact-form label,
#contact-form .helptext {
    font-size: 1rem;
}

#contact-success-icon {
    font-size: 5em;
    display: block;
    margin: 0.5em auto;
    text-align: center;
}

#contact-success-finished {
    background: white;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    text-align: center;
    color: black;
    margin: 3em auto;
    display: block;
    width: 8em;
    font-weight: bold;
}

#contact-success-finished:hover {
    text-decoration: none;
}


/* ---------- Footer ---------- */

footer {
    padding: 4em 0 3em 0;
    text-align: center;
    background: white;
    color: #B53471;
}

#footer-content {
    font-size: 1.2em;
}

footer a {
    color: #B53471;
}

footer a:hover {
    color: #B53471;
}


/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
